#!/bin/bash
# File              : GridConfig.sh
# Author            : Anton Riedel <anton.riedel@tum.de>
# Date              : 25.08.2021
# Last Modified Date: 25.08.2021
# Last Modified By  : Anton Riedel <anton.riedel@tum.de>

# example configuration for running a analysis on grid

# define directories and files on grid
export GridWorkingDir="/alice/cern.ch/user/a/ariedel/20210331_LHC10h_TEST1"
export GridOutputDir="${GridWorkingDir}/output"
export GridOutputRootFile="AnalysisResults.root"

# define directories and files on local machine
export LocalWorkingDir="$(dirname ${BASH_SOURCE[0]})"
export LocalTmpDir="/tmp"
export LocalCopyLog="CopyFromGrid.log"
export LocalCopyProcessLog="Process.log"
export LocalCopySummaryLog="Summary.log"

# miscellaneous variables
export Pause="300"
export ParallelJobs="10"
export MaxCopyAttempts="5"
